// Styling for the skill grid section
.skill {
  margin-bottom: -30px;
  .skill-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 10px;
    border-radius: $border-radius;
    overflow: hidden;
    .skill-item-caption {
      position: absolute;
      top: 0;
      right: 0;
      transition: $transition-base;
      opacity: 0;
      background-color: fade-out($secondary, .1);
      &:hover {
        opacity: 1;
      }
      .skill-item-caption-content {
        font-size: 1.5rem;
      }
    }
  }
}

// Styling for the skill modals
.skill-modal {
  .skill-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
  .close {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1rem;
    font-size: 3rem;
    line-height: 3rem;
    color: $primary;
    opacity: 1;
  }
}
